<h1>Create Post</h1>
<form method="post">
  <section>
    <label for="title">Title</label>
    <input id="title" name="title" type="text" required autofocus />
  </section>
  <section>
    <label for="content">Content</label>
    <textarea id="content" name="content"></textarea>
  </section>
  <button type="submit">Create Post</button>
</form>
