<a href="/login">Login</a>
<a href="/logout">Logout</a>
<a href="/pr">Private</a>
<a href="/register">Register</a>
<a href="/create-post">Create Post</a>
<a href="/delete-users">Delete all Users</a>
<a href="/delete-posts">Delete all Posts</a>
<a href="/users">Users</a>
<a href="/posts">Posts</a>

<h1>Welcome!</h1>
